<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    convertWarningsToExceptions="true"
    convertNoticesToExceptions="true"
    convertErrorsToExceptions="true"
    bootstrap="vendor/autoload.php"
    backupStaticAttributes="false"
    processIsolation="false"
    stopOnFailure="false"
    backupGlobals="false"
    colors="true">
  <coverage>
    <include>
      <directory>./src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Omnipay Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
